scripts/xygr.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://graph2svg.googlecode.com" 
xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" 
xmlns="http://relaxng.org/ns/structure/1.0"
xmlns:html ="http://www.w3.org/1999/xhtml"
xmlns:s = "http://www.ascc.net/xml/schematron"
datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">


 <a:documentation>
    <html:h2>Informative Schema for xygr, XML to SVG</html:h2>
    <html:p>Revision 1.0 </html:p>
    <html:p>Based on http://code.google.com/p/graph2svg/ by Jakub.Vojtisek</html:p>
    <html:p>Author. Dave Pawson. 2009-07-23T08:06:42Z</html:p>
    <html:p>Update: 1.1  2009-07-23T11:07:15Z. Replaced all occurrences of 'botom' with 'bottom' </html:p>
    <html:p>Author. Dave Pawson</html:p>

  </a:documentation>


<start>
  <ref name="Xygr"/>
</start>


  <define name="Xygr">
    <a:documentation>
    <html:p>Element  xygr. Document root</html:p>
  </a:documentation>
    <element name="xygr">
      <ref name="attlist.xygr"/>
      <optional>
        <ref name="title"/>
      </optional>
      <oneOrMore>
        <ref name="curve"/>
      </oneOrMore>
    </element>
  </define>



  <define name="title">
 <a:documentation>
    <html:p>Element title. Title for the graph </html:p>
  </a:documentation>
    <element name="title">
      <text/>
    </element>
  </define>





  <define name="curve">
 <a:documentation>
    <html:p>Element curve. A single (possibly only) graph.  </html:p>
  </a:documentation>
    <element name="curve">
      <ref name="attlist.curve"/>
      <optional>
        <ref name="name"/>
      </optional>
      <oneOrMore>
        <ref name="point"/>
      </oneOrMore>
    </element>
  </define>


  <define name="name">
 <a:documentation>
    <html:p>Element name.  A label for one curve</html:p>
  </a:documentation>
    <element name="name">
      <ref name="attlist.name"/>
      <text/>
    </element>
  </define>


  <define name="point">
 <a:documentation>
    <html:p>Element  point. A single point on a graph</html:p>
  </a:documentation>
    <element name="point">
      <ref name="attlist.point"/>
      <empty/>
    </element>
  </define>


  <define name="attlist.xygr" combine="interleave">
 <a:documentation>
    <html:p>Attribute lineType . The type of line used to draw a graph.   </html:p>
  </a:documentation>
    <optional>
      <attribute name="lineType" a:defaultValue="solid">
        <choice>
          <value>none</value>
          <value>solid</value>
          <value>dot</value>
          <value>dash</value>
          <value>longDash</value>
          <value>dash-dot</value>
          <value>longDash-dot</value>
          <value>dash-dot-dot</value>
          <value>longDash-dash</value>
          <value>dash-dash-dot-dot</value>
        </choice>
      </attribute>
    </optional>

 <a:documentation>
    <html:p>Attribute pointType. The type of graphic used to represent a point on a graph  </html:p>
  </a:documentation>
    <optional>
      <attribute name="pointType" a:defaultValue="none">
        <choice>
          <value>none</value>
          <value>point</value>
          <value>cross</value>
          <value>plus</value>
          <value>line</value>
          <value>star</value>
          <value>square</value>
          <value>circle</value>
          <value>triangle</value>
          <value>rhomb</value>
          <value>pyramid</value>
          <value>squareF</value>
          <value>circleF</value>
          <value>triangleF</value>
          <value>rhombF</value>
          <value>pyramidF</value>
        </choice>
      </attribute>
    </optional>

    <optional>
 <a:documentation>
    <html:p>Attribute axesPos.  Where, on the graph, the axes are positioned. Either at the origin (0,0) or at the 
bottom left of the graph </html:p>
  </a:documentation>
      <attribute name="axesPos" a:defaultValue="origin">
        <choice>
          <value>left-bottom</value>
          <value>origin</value>
        </choice>
      </attribute>
    </optional>


    <optional>
 <a:documentation>
    <html:p>Attribute xAxisType. How the X axis is divided. Select
    from automatic (software decides most appropriately), withZero
    (i.e. includes a zero value), shifted (zero to first X value is
    elided), or a logarithmic value </html:p>
  </a:documentation>
      <attribute name="xAxisType" a:defaultValue="auto">
        <choice>
          <value>auto</value>
          <value>withZero</value>
          <value>shifted</value>
          <value>log</value>
          <value>dateTime</value>
        </choice>
      </attribute>
    </optional>

    <optional>
 <a:documentation>
    <html:p>Attribute yAxisType. How the Y axis is divided. Select
    from automatic (software decides most appropriately), withZero
    (i.e. includes a zero value), shifted (zero to first X value is
    elided), or a logarithmic value </html:p>
  </a:documentation>

      <attribute name="yAxisType" a:defaultValue="auto">
        <choice>
          <value>auto</value>
          <value>withZero</value>
          <value>shifted</value>
          <value>log</value>
          <value>dateTime</value>
        </choice>
      </attribute>
    </optional>
    
    <optional>
      <attribute name="xAxisLabelsFormat" a:defaultValue="auto">
      <a:documentation>
	<html:p></html:p>
      </a:documentation>
        <text/>
      </attribute>
    </optional>

    <optional>
      <attribute name="yAxisLabelsFormat" a:defaultValue="auto">
      <a:documentation>
	<html:p></html:p>
      </a:documentation>
        <text/>
      </attribute>
    </optional>
    
    <optional>
      <attribute name="xAxisMin"/>
    </optional>
    
    <optional>
      <attribute name="yAxisMin"/>
    </optional>
    
    <optional>
      <attribute name="xAxisMax"/>
    </optional>
    
    <optional>
      <attribute name="yAxisMax"/>
    </optional>
    
    <optional>
      <attribute name="xAxisStep"/>
    </optional>

    <optional>
      <attribute name="yAxisStep"/>
    </optional>
    
    <optional>
      <attribute name="xAxisMarkCount"/>
    </optional>

    <optional>
      <attribute name="yAxisMarkCount"/>
    </optional>
    
    <optional>
 <a:documentation>
    <html:p>Attribute xAxisDivision. How the X axis is divided up. Select
    from one of the values [none, 1 2 4 5 or 10] </html:p>
  </a:documentation>
      <attribute name="xAxisDivision" a:defaultValue="1">
        <choice>
          <value>none</value>
          <value>1</value>
          <value>2</value>
          <value>4</value>
          <value>5</value>
          <value>10</value>
        </choice>
      </attribute>
    </optional>


    <optional>
 <a:documentation>
    <html:p>Attribute yAxisDivision. How the Y axis is divided up. Select
    from one of the values [none, 1 2 4 5 or 10] </html:p>
  </a:documentation>
      <attribute name="yAxisDivision" a:defaultValue="1">
        <choice>
          <value>none</value>
          <value>1</value>
          <value>2</value>
          <value>4</value>
          <value>5</value>
          <value>10</value>
        </choice>
      </attribute>
    </optional>

    <optional>
 <a:documentation>
    <html:p>Attribute xGrid. How the X axis is divided up. None, major
    or minor. Minor marks interleave with major ones. Default value is none, i.e. no divisions </html:p>
  </a:documentation>
      <attribute name="xGrid" a:defaultValue="none">
        <choice>
          <value>none</value>
          <value>major</value>
          <value>minor</value>
        </choice>
      </attribute>
    </optional>


    <optional>
 <a:documentation>
    <html:p>Attribute yGrid. How the Y axis is divided up. None, major
    or minor. Minor marks interleave with major ones. Default value is none, i.e. no divisions </html:p>
  </a:documentation>
      <attribute name="yGrid" a:defaultValue="none">
        <choice>
          <value>none</value>
          <value>major</value>
          <value>minor</value>
        </choice>
      </attribute>
    </optional>

    <optional>
 <a:documentation>
    <html:p>Attribute legend. Where the legend (the text labelling the
    graph), is placed. One from [<b>none</b>, <b>left</b> end of the
    graph, <b>right</b> end of the graph, <b>top</b> of the graph or
    <b>bottome</b> of the graph]</html:p>
  </a:documentation>
      <attribute name="legend" a:defaultValue="none">
        <choice>
          <value>none</value>
          <value>left</value>
          <value>right</value>
          <value>top</value>
          <value>bottom</value>
        </choice>
      </attribute>
    </optional>


    <optional>
 <a:documentation>
    <html:p>Attribute colorScheme. Select from <b>color</b> or
    monochrome. If monochrome, the <b>warmth</b> of the scheme is
    selected from [warm, cold, grey or black]</html:p>
  </a:documentation>
      <attribute name="colorScheme" a:defaultValue="black">
        <choice>
          <value>color</value>
          <value>warm</value>
          <value>cold</value>
          <value>grey</value>
          <value>black</value>
        </choice>
      </attribute>
    </optional>
  </define>

  <define name="attlist.curve" combine="interleave">
 <a:documentation>
    <html:p>Attribute lineType. An attribute of the curve. Defines the
    user selected type of line for the graph.  Select from [none,
    solid, dot, dash, longDash, dash-dot, longDash-dot, dash-dot-dot,
    longDash-dash, dash-dash-dot-dot]. </html:p>
  </a:documentation>

    <optional>
      <attribute name="lineType">
        <choice>
          <value>none</value>
          <value>solid</value>
          <value>dot</value>
          <value>dash</value>
          <value>longDash</value>
          <value>dash-dot</value>
          <value>longDash-dot</value>
          <value>dash-dot-dot</value>
          <value>longDash-dash</value>
          <value>dash-dash-dot-dot</value>
        </choice>
      </attribute>
    </optional>

    <optional>
 <a:documentation>
    <html:p>Attribute smooth, on element curve. Determines if the
    graph trace is smoothed out or left as segments. A value of
    <b>yes</b> will cause smoothing to take place</html:p>
  </a:documentation>
      <attribute name="smooth" a:defaultValue="no">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>


    <optional>
 <a:documentation>
    <html:p id='ptype'>Attribute pointType, on element curve. Selects one from a
    list of shapes used to represent individual points. Each is a
    small shape, those suffixed with 'F' are filled shapes. Those
    without are hollow shapes. rhomb is a rhombus shape </html:p>
  </a:documentation>
      <attribute name="pointType">
        <choice>
          <value>none</value>
          <value>point</value>
          <value>cross</value>
          <value>plus</value>
          <value>line</value>
          <value>star</value>
          <value>square</value>
          <value>circle</value>
          <value>triangle</value>
          <value>rhomb</value>
          <value>pyramid</value>
          <value>squareF</value>
          <value>circleF</value>
          <value>triangleF</value>
          <value>rhombF</value>
          <value>pyramidF</value>
        </choice>
      </attribute>
    </optional>


    <optional>
      <a:documentation>
    <html:p id='color'>Attribute color. Specifies the color of the curve. Use the
    color range from CSS [@FIXME, which version]. This value is copied
    straight to the SVG, so ensure it is valid for SVG</html:p>
    <html:p>See <html:a href="http://www.w3.org/TR/SVG11/types.html#DataTypeColor">W3C</html:a>
    for more information. Use either the keywords (See <html:a
    href="http://www.w3.org/TR/SVG11/types.html#ColorKeywords">W3C</html:a>,
    or one of the CSS alternatives, for which see <html:a
    href="http://www.w3.org/TR/2008/REC-CSS2-20080411/syndata.html#value-def-color"/></html:p>
  </a:documentation>

      <attribute name="color"/>
    </optional>
  </define>




  <define name="attlist.name" combine="interleave">
 <a:documentation>
    <html:p>Attributes for the element name (graph label). Specifies the position,
    color and visibility of the name </html:p>
  </a:documentation>

    <optional>
 <a:documentation>
    <html:p>Attribute x. The X coordinate of the label, with respect
    to 0,0 being top left of the graph.  </html:p>
  </a:documentation>
      <attribute name="x"/>
    </optional>
    <optional>

 <a:documentation>
    <html:p>Attribute y. The Y coordinate of the label, with respect
    to 0 being top left of the graph.  </html:p>
  </a:documentation>
      <attribute name="y"/>
    </optional>

    <optional>
 <a:documentation>
    <html:p>Attribute color. Specifies the color to use for the
    legend. Same caution as for <html:a href="#color">color</html:a> above</html:p>
  </a:documentation>
      <attribute name="color"/>
    </optional>


    <optional>
 <a:documentation>
    <html:p>Attribute visibility. Specifies what is shown and what is
    not. Select from <b>none</b>( neither the graph or the legend is
    shown), <b>legend</b> shows the legend but not the graph,
    <b>graph</b>, shows the graph but not the legend or finally
    <b>both</b> which shows both the graph and the legend </html:p>
  </a:documentation>
      <attribute name="visibility" a:defaultValue="both">
        <choice>
          <value>none</value>
          <value>legend</value>
          <value>graph</value>
          <value>both</value>
        </choice>
      </attribute>
    </optional>
  </define>


  <define name="attlist.point" combine="interleave">

 <a:documentation>
    <html:p>Attributes for points on the graph.  x and y specify the
    position of the point.  </html:p>
  </a:documentation>

    <attribute name="x"/>
    <attribute name="y"/>
    <optional>
 <a:documentation>
    <html:p>Attribute pointType. Specifies the shape to be shown for a
    single point. This enables a single point to be shown differently
    from the rest of the points (see <html:a href="#ptype">above</html:a>). The semantics are the same as previously</html:p>
  </a:documentation>

      <attribute name="pointType">
        <choice>
          <value>none</value>
          <value>point</value>
          <value>cross</value>
          <value>plus</value>
          <value>line</value>
          <value>star</value>
          <value>square</value>
          <value>circle</value>
          <value>triangle</value>
          <value>rhomb</value>
          <value>pyramid</value>
          <value>squareF</value>
          <value>circleF</value>
          <value>triangleF</value>
          <value>rhombF</value>
          <value>pyramidF</value>
        </choice>
      </attribute>
    </optional>
    <optional>
<a:documentation>
    <html:p>Attribute color. Specifies the color of an individual
    point, when visible. Semantics and values as <html:a href="#color">above </html:a></html:p>
  </a:documentation>

      <attribute name="color"/>
    </optional>
  </define>
 
</grammar>
