trunk/scripts/msgr.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar 
ns="http://graph2svg.googlecode.com" 
xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" 
xmlns="http://relaxng.org/ns/structure/1.0"
xmlns:html ="http://www.w3.org/1999/xhtml"
xmlns:s = "http://www.ascc.net/xml/schematron"
datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
>

 <a:documentation>
    <html:h2>Informative Schema for msgr, XML to SVG</html:h2>
    <html:p>Revision 1.0 </html:p>
    <html:p>Based on http://code.google.com/p/graph2svg/ by Jakub.Vojtisek</html:p>
    <html:p>Author. Dave Pawson. 2009-07-23T08:06:42Z</html:p>
    <html:p>Revision  </html:p>
    <html:p>Author: Dave Pawson. </html:p>
    <html:p>comment </html:p>
  </a:documentation>


  <define name="msgr">
    <element name="msgr">
      <a:documentation>
	<html:p>Start (root) element</html:p>
      </a:documentation>
      <ref name="attlist.msgr"/>
      <optional>
        <ref name="title"/>
      </optional>
      <optional>
        <ref name="names"/>
      </optional>
      <oneOrMore>
        <ref name="values"/>
      </oneOrMore>
    </element>
  </define>

  <define name="names">
    <element name="names">
      <a:documentation>
	<html:p>A list of names used to identify (label) the
      columns. The number of name elements must match the number of
      value elements</html:p>
      </a:documentation>
      <oneOrMore>
        <ref name="name"/>
      </oneOrMore>
    </element>
  </define>



  <define name="values">
    <element name="values">
      <a:documentation>
	<html:p>The extent of each Y value. There must be one for each
      value in the 'name' list.</html:p>
      </a:documentation>

      <ref name="attlist.values"/>
      <optional>
        <ref name="title"/>
      </optional>
      <oneOrMore>
        <ref name="value"/>
      </oneOrMore>
    </element>
  </define>

  <define name="title">
    <element name="title">
      <a:documentation>
	<html:p>The title for the graph. Displayed at the top centre of
      the output SVG</html:p>
      </a:documentation>
      <ref name="attlist.title"/>
      <text/>
    </element>
  </define>

  <define name="name">
    <element name="name">
      <a:documentation>
	<html:p>A single label on the X axis. The name is the X axis
      label, the value is the Y extent.</html:p>
      </a:documentation>
      <text/>
    </element>
  </define>


  <define name="value">
    <element name="value">
      <a:documentation>
	<html:p>A single value specifiying the extent of one 'name'. The
      name is the X axis label, the value is the Y extent.</html:p>
      </a:documentation>
      <text/>
    </element>
  </define>


  <define name="attlist.msgr" combine="interleave">
    <optional>
      <attribute name="stacked" a:defaultValue="none">
      <a:documentation>
	<html:p></html:p>
      </a:documentation>
        <choice>
          <value>none</value>
          <value>sum</value>
          <value>percentage</value>
        </choice>
      </attribute>
    </optional>

    <optional>
      <attribute name="shift" a:defaultValue="0"/>
      <a:documentation>
	<html:p></html:p>
      </a:documentation>
    </optional>

    <optional>
      <attribute name="effect" a:defaultValue="2D">
      <a:documentation>
	<html:p></html:p>
      </a:documentation>
        <choice>
          <value>2D</value>
          <value>3D</value>
        </choice>
      </attribute>
    </optional>

    <optional>
      <attribute name="colType" a:defaultValue="none">
      <a:documentation>
	<html:p></html:p>
      </a:documentation>
        <choice>
          <value>none</value>
          <value>block</value>
          <value>cylinder</value>
          <value>cone</value>
          <value>pyramid</value>
          <value>line</value>
        </choice>
      </attribute>
    </optional>

    <optional>
      <attribute name="lineType" a:defaultValue="solid">
      <a:documentation>
	<html:p></html:p>
      </a:documentation>
        <choice>
          <value>none</value>
          <value>solid</value>
          <value>dot</value>
          <value>dash</value>
          <value>longDash</value>
          <value>dash-dot</value>
          <value>longDash-dot</value>
          <value>dash-dot-dot</value>
          <value>longDash-dash</value>
          <value>dash-dash-dot-dot</value>
        </choice>
      </attribute>
    </optional>

    <optional>
      <attribute name="pointType" a:defaultValue="none">
      <a:documentation>
	<html:p></html:p>
      </a:documentation>
        <choice>
          <value>none</value>
          <value>point</value>
          <value>cross</value>
          <value>plus</value>
          <value>minus</value>
          <value>star</value>
          <value>square</value>
          <value>circle</value>
          <value>triangle</value>
          <value>rhomb</value>
          <value>pyramid</value>
          <value>squareF</value>
          <value>circleF</value>
          <value>triangleF</value>
          <value>rhombF</value>
          <value>pyramidF</value>
        </choice>
      </attribute>
    </optional>

    <optional>
      <attribute name="fillArea" a:defaultValue="no">
      <a:documentation>
	<html:p></html:p>
      </a:documentation>
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>

    <optional>
      <attribute name="yAxisType" a:defaultValue="auto">
      <a:documentation>
	<html:p></html:p>
      </a:documentation>
        <choice>
          <value>auto</value>
          <value>withZero</value>
          <value>shifted</value>
          <value>log</value>
          <value>dateTime</value>
        </choice>
      </attribute>
    </optional>
    
    <optional>
      <attribute name="yAxisLabelsFormat" a:defaultValue="auto">
      <a:documentation>
	<html:p></html:p>
      </a:documentation>
        <text/>
      </attribute>
    </optional>
    
    <optional>
      <attribute name="yAxisMin"/>
    </optional>
    
     <optional>
      <attribute name="yAxisMax"/>
    </optional>
    
    <optional>
      <attribute name="yAxisStep"/>
    </optional>
    
     <optional>
      <attribute name="yAxisMarkCount"/>
    </optional>

    <optional>
      <attribute name="yAxisDivision" a:defaultValue="1">
      <a:documentation>
	<html:p></html:p>
      </a:documentation>
        <choice>
          <value>none</value>
          <value>1</value>
          <value>2</value>
          <value>4</value>
          <value>5</value>
          <value>10</value>
        </choice>
      </attribute>
    </optional>

    <optional>
      <attribute name="xAxisDivision" a:defaultValue="minor">
      <a:documentation>
	<html:p></html:p>
      </a:documentation>
        <choice>
          <value>none</value>
          <value>major</value>
          <value>minor</value>
          <value>both</value>
        </choice>
      </attribute>
    </optional>

    <optional>
      <attribute name="xAxisPos" a:defaultValue="origin">
      <a:documentation>
	<html:p></html:p>
      </a:documentation>
        <choice>
          <value>bottom</value>
          <value>origin</value>
        </choice>
      </attribute>
    </optional>

    <optional>
      <attribute name="xGrid" a:defaultValue="none">
      <a:documentation>
	<html:p></html:p>
      </a:documentation>
        <choice>
          <value>none</value>
          <value>major</value>
          <value>minor</value>
          <value>both</value>
        </choice>
      </attribute>
    </optional>

    <optional>
      <attribute name="yGrid" a:defaultValue="none">
      <a:documentation>
	<html:p></html:p>
      </a:documentation>
        <choice>
          <value>none</value>
          <value>major</value>
          <value>minor</value>
        </choice>
      </attribute>
    </optional>

    <optional>
      <attribute name="legend" a:defaultValue="right">
      <a:documentation>
	<html:p>Position on chart at which the explanatory legend is
	to be shown. Select from [none|left|right|top|bottom]</html:p>
      </a:documentation>
        <choice>
          <value>none</value>
          <value>left</value>
          <value>right</value>
          <value>top</value>
          <value>bottom</value>
        </choice>
      </attribute>
    </optional>

    <optional>
      <attribute name="colorScheme" a:defaultValue="color">
      <a:documentation>
	<html:p>Defines an appropriate color scheme for the
      graph. Select from [ color| warm | cold | grey | black].
      <html:b>grey</html:b> is very useful when printing in black and
      white.</html:p>
      </a:documentation>
        <choice>
          <value>color</value>
          <value>warm</value>
          <value>cold</value>
          <value>grey</value>
          <value>black</value>
        </choice>
      </attribute>
    </optional>
  </define>

  <define name="attlist.title" combine="interleave">
    <optional>
      <attribute name="color">
      <a:documentation>
  <html:p>The color to be applied to the title text. Use CSS color
      names or values.</html:p>
  <html:p>See <html:a
    href="http://www.w3.org/TR/SVG11/types.html#DataTypeColor">W3C</html:a>
    for more information. Use either the keywords (See <html:a
    href="http://www.w3.org/TR/SVG11/types.html#ColorKeywords">W3C</html:a>,
    or one of the CSS alternatives, for which see <html:a
    href="http://www.w3.org/TR/2008/REC-CSS2-20080411/syndata.html#value-def-color"></html:a></html:p>

      </a:documentation>
      </attribute>
    </optional>
  </define>

<!--                                       -->
<!--       Attributes on the values element-->
<!--                                       -->


  <define name="attlist.values" combine="interleave">
    <optional>
      <attribute name="color">
      <a:documentation>
	  <html:p>Specify what color to use for a value. Works well with a
      grey <html:b>colorScheme</html:b>, though be careful when mixing
      colors, if one specific value is to stand out.</html:p>
  <html:p>See <html:a
    href="http://www.w3.org/TR/SVG11/types.html#DataTypeColor">W3C</html:a>
    for more information. Use either the keywords (See <html:a
    href="http://www.w3.org/TR/SVG11/types.html#ColorKeywords">W3C</html:a>,
    or one of the CSS alternatives, for which see <html:a
    href="http://www.w3.org/TR/2008/REC-CSS2-20080411/syndata.html#value-def-color"></html:a></html:p>
      </a:documentation>
      </attribute>
    </optional>

    <optional>
      <attribute name="colType">
      <a:documentation>
	 <html:p>Selects the type of column to be generated. One from
	 </html:p>
      <html:ul>
	<html:li>none</html:li>
	<html:li>block</html:li>
	<html:li>cylinder</html:li>
	<html:li>cone</html:li>
	<html:li>pyramid</html:li>
	<html:li>line</html:li>
      </html:ul>
      <html:p>The named shape is used to draw the vertical columns of
      the bar chart. The default value is 'block', a two or three
      dimentional square block</html:p>
      </a:documentation>
        <choice>
          <value>none</value>
          <value>block</value>
          <value>cylinder</value>
          <value>cone</value>
          <value>pyramid</value>
          <value>line</value>
        </choice>
      </attribute>
    </optional>

    <optional>
      <attribute name="lineType">
      <a:documentation>
	  <html:p>If present, specifies the type of line to be used to
      connect the peak values of the bar chart. Select, one from
      </html:p>
      <html:ul>
	<html:li>none</html:li>
	<html:li>solid</html:li>
	<html:li>dot</html:li>
	<html:li>dash</html:li>
	<html:li>longDash</html:li>
	<html:li>dash-dot</html:li>
	<html:li>longDash-dot</html:li>
	<html:li>dash-dot-dot</html:li>
	<html:li>longDash-dash</html:li>
	<html:li>dash-dash-dot-dot</html:li>
      </html:ul>

      </a:documentation>
        <choice>
          <value>none</value>
          <value>solid</value>
          <value>dot</value>
          <value>dash</value>
          <value>longDash</value>
          <value>dash-dot</value>
          <value>longDash-dot</value>
          <value>dash-dot-dot</value>
          <value>longDash-dash</value>
          <value>dash-dash-dot-dot</value>
        </choice>
      </attribute>
    </optional>

    <optional>
      <attribute name="pointType">
      <a:documentation>
	<html:p>Defines the marker type to be used for extnts. No
	default. Select one from
	[none|point|cross|plus|minus|star|square|circle|triangle|rhomb|
	pyramid|squareF|circleF|triangleF|rhombF|pyramidF]. rhomb is a
	rhombus, those items suffixed 'F' are filled shapes</html:p>
      </a:documentation>
        <choice>
          <value>none</value>
          <value>point</value>
          <value>cross</value>
          <value>plus</value>
          <value>minus</value>
          <value>star</value>
          <value>square</value>
          <value>circle</value>
          <value>triangle</value>
          <value>rhomb</value>
          <value>pyramid</value>
          <value>squareF</value>
          <value>circleF</value>
          <value>triangleF</value>
          <value>rhombF</value>
          <value>pyramidF</value>
        </choice>
      </attribute>
    </optional>
  <optional>
      <attribute name="smooth" a:defaultValue="no">
      <a:documentation>
	<html:p>When values are connected with a line (lineType
	property on the values element), the line may be smoothed
	using this property. Select from [yes|no]. Defaults to no</html:p>
      </a:documentation>
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
  
    <optional>
      <attribute name="fillArea">
	<a:documentation>
	<html:p>For any set of values, the fillArea property joins the
	areas formed with the similar color (or shade of grey). Works
	best when the <html:b>effect</html:b> attribute on
	<html:b>msgr</html:b> is set to 2D. Select from [yes|no]. Defaults to no</html:p>
      </a:documentation>
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>

    <optional>
      <attribute name="startFrom">
	<a:documentation>
	<html:p>For a stacked graph, specify from what origin the bar
	should start. Select from [axis|last]. If
	<html:b>axis</html:b> is selected, the bar is started from the
	X axis. If <html:b>last</html:b> is selected, then one set of
	values is stacked on top of (starting where the previous one
	ended) the previous one. The default is <html:b>last</html:b>
	</html:p>
      </a:documentation>
	<a:documentation>
	<html:p></html:p>
      </a:documentation>
        <choice>
          <value>axis</value>
          <value>last</value>
        </choice>
      </attribute>
    </optional>
  </define>

  <start>
    <choice>
      <ref name="msgr"/>
    </choice>
  </start>
</grammar>
